<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<div class="adminNav">
    <li><a th:href="@{/adminPanel}">Main</a></li>
    <li><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}">Users</a></li>
    <li><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/rooms}">Rooms</a></li>
    <li><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/addUser}">Add User</a></li>
    <li><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/addRoom}">Add Room</a></li>
</div>

</body>
</html>