<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>LH Cleaning Service - Users</title>
    <link rel="icon" th:href="@{https://www.clipartmax.com/png/full/114-1146450_icons-broom-clipart-broom-icon.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="fragments/navbar.html :: header"> </header>

<div class="pageContent">
    <div class="adminPanel">
        <div th:insert="fragments/adminnav.html"> </div>
        <div class="adminPanelCont">
            <div class="adminTitle">Users List</div>
            <div th:each="user : ${users}">
                <span th:text="${user.username}"></span>
                <i th:text="${user.roles}"></i>
                <a th:href="@{userEdit(id=${user.id})}">Edit</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>